
# /com.vaguehope.morrigan.build/
/com.vaguehope.morrigan.build/buildDirectory
/com.vaguehope.morrigan.build/builds
/com.vaguehope.morrigan.build/repository

# /com.vaguehope.morrigan.config/
/com.vaguehope.morrigan.config/build.xml
/com.vaguehope.morrigan.config/javaCompiler...args

# /com.vaguehope.morrigan.danbooru/
/com.vaguehope.morrigan.danbooru/javaCompiler...args
/com.vaguehope.morrigan.danbooru/build.xml

# /com.vaguehope.morrigan.engines/
/com.vaguehope.morrigan.engines/javaCompiler...args
/com.vaguehope.morrigan.engines/build.xml

# /com.vaguehope.morrigan.gui/
/com.vaguehope.morrigan.gui/build.xml
/com.vaguehope.morrigan.gui/javaCompiler...args

# /com.vaguehope.morrigan.hotkeyimpl.jintellitype/
/com.vaguehope.morrigan.hotkeyimpl.jintellitype/javaCompiler...args
/com.vaguehope.morrigan.hotkeyimpl.jintellitype/build.xml

# /com.vaguehope.morrigan.hotkeyimpl.jxgrabkey/
/com.vaguehope.morrigan.hotkeyimpl.jxgrabkey/build.xml
/com.vaguehope.morrigan.hotkeyimpl.jxgrabkey/javaCompiler...args

# /com.vaguehope.morrigan.model/
/com.vaguehope.morrigan.model/build.xml

# /com.vaguehope.morrigan.model.db/
/com.vaguehope.morrigan.model.db/build.xml

# /com.vaguehope.morrigan.model.media/
/com.vaguehope.morrigan.model.media/build.xml
/com.vaguehope.morrigan.model.media/javaCompiler...args

# /com.vaguehope.morrigan.model.media_impl/
/com.vaguehope.morrigan.model.media_impl/build.xml
/com.vaguehope.morrigan.model.media_impl/javaCompiler...args

# /com.vaguehope.morrigan.osgiconsole/
/com.vaguehope.morrigan.osgiconsole/build.xml
/com.vaguehope.morrigan.osgiconsole/javaCompiler...args

# /com.vaguehope.morrigan.playbackimpl.dsj/
/com.vaguehope.morrigan.playbackimpl.dsj/morrigan.playbackimpl.dsj.jar
/com.vaguehope.morrigan.playbackimpl.dsj/build.xml
/com.vaguehope.morrigan.playbackimpl.dsj/javaCompiler...args

# /com.vaguehope.morrigan.playbackimpl.gs/
/com.vaguehope.morrigan.playbackimpl.gs/morrigan.playbackimpl.gs.jar
/com.vaguehope.morrigan.playbackimpl.gs/build.xml
/com.vaguehope.morrigan.playbackimpl.gs/javaCompiler...args

# /com.vaguehope.morrigan.playbackimpl.jmf/
/com.vaguehope.morrigan.playbackimpl.jmf/morrigan.playbackimpl.jmf.jar
/com.vaguehope.morrigan.playbackimpl.jmf/build.xml
/com.vaguehope.morrigan.playbackimpl.jmf/javaCompiler...args

# /com.vaguehope.morrigan.playbackimpl.spi/
/com.vaguehope.morrigan.playbackimpl.spi/morrigan.playbackimpl.spi.jar

# /com.vaguehope.morrigan.player/
/com.vaguehope.morrigan.player/javaCompiler...args
/com.vaguehope.morrigan.player/build.xml

# /com.vaguehope.morrigan.server/
/com.vaguehope.morrigan.server/javaCompiler...args
/com.vaguehope.morrigan.server/build.xml

# /com.vaguehope.morrigan.server.boot/
/com.vaguehope.morrigan.server.boot/build.xml
/com.vaguehope.morrigan.server.boot/javaCompiler...args

# /com.vaguehope.morrigan.util/
/com.vaguehope.morrigan.util/build.xml

# /com.vaguehope.morrigan.util.httpclient/
/com.vaguehope.morrigan.util.httpclient/build.xml

# /com.vaguehope.morrigan.wui/
/com.vaguehope.morrigan.wui/morrigan.wui.war
/com.vaguehope.morrigan.wui/build.xml

# /com.vaguehope.sqlitewrapper/
/com.vaguehope.sqlitewrapper/bin
/com.vaguehope.sqlitewrapper/build.xml

# Git does not store empty dirs.
/com.vaguehope.morrigan.config/bin/
/com.vaguehope.morrigan.danbooru/bin/
/com.vaguehope.morrigan.engines/bin/
/com.vaguehope.morrigan.gui/bin/
/com.vaguehope.morrigan.hotkeyimpl.jintellitype/bin/
/com.vaguehope.morrigan.hotkeyimpl.jxgrabkey/bin/
/com.vaguehope.morrigan.model.db/bin/
/com.vaguehope.morrigan.model.media/bin/
/com.vaguehope.morrigan.model.media_impl/bin/
/com.vaguehope.morrigan.model/bin/
/com.vaguehope.morrigan.osgiconsole/bin/
/com.vaguehope.morrigan.playbackimpl.dsj/bin/
/com.vaguehope.morrigan.playbackimpl.gs/bin/
/com.vaguehope.morrigan.playbackimpl.vlc/bin/
/com.vaguehope.morrigan.playbackimpl.jmf/bin/
/com.vaguehope.morrigan.playbackimpl.spi/bin/
/com.vaguehope.morrigan.player/bin/
/com.vaguehope.morrigan.server.boot/bin/
/com.vaguehope.morrigan.server/bin/
/com.vaguehope.morrigan.test/bin/
/com.vaguehope.morrigan.util.httpclient/bin/
/com.vaguehope.morrigan.util/bin/
/com.vaguehope.morrigan.wui/bin/
