<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension id="product" point="org.eclipse.core.runtime.products" >
		<product application="net.sparktank.morrigan.gui.application" name="morrigan" >
			<property name="appName" value="morrigan" />
			<property name="windowImages" value="icons/crow-16.png,icons/crow-32.png,icons/crow-48.png" />
   <property
         name="aboutImage"
         value="graphics/crow-full.png">
   </property>
   <property
         name="aboutText"
         value="This alpha build of morrigan is released as free software and is provided &quot;as is&quot; for testing pourpouses only.  For more information, please see this wiki page:&#x0A;&#x0A;http://sparktank.net/w/index.php?title=Project_Morrigan&#x0A;&#x0A;You can email the developer at haku@vaguehope.com&#x0A;&#x0A;This build of morrigan is copyright Alex Hutter 2010.  All rights reserved.&#x0A;&#x0A;Image &quot;The Morrígan&quot; by Louis le Brocquy used under the Creative Commons Attribution 2.5 Generic license.">
   </property>
		</product>
	</extension>
	
   <extension id="application" point="org.eclipse.core.runtime.applications" >
      <application>
         <run class="net.sparktank.morrigan.gui.Application"></run>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="Main"
            class="net.sparktank.morrigan.gui.PerspectiveMain"
            id="net.sparktank.morrigan.gui.PerspectiveMain">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   
      <category name="Morrigan" id="net.sparktank.morrigan" />
   
      <view
            name="Media Explorer"
            class="net.sparktank.morrigan.gui.views.ViewMediaExplorer"
            id="net.sparktank.morrigan.gui.views.ViewMediaExplorer"
            category="net.sparktank.morrigan"
            icon="icons/library.gif" >
      </view>
      
      <view
            name="Player"
            class="net.sparktank.morrigan.gui.views.ViewPlayer"
            id="net.sparktank.morrigan.gui.views.ViewPlayer"
            category="net.sparktank.morrigan"
            icon="icons/stop.gif" >
      </view>
      
      <view
            name="Library Properties"
            class="net.sparktank.morrigan.gui.views.ViewLibraryProperties"
            id="net.sparktank.morrigan.gui.views.ViewLibraryProperties"
            category="net.sparktank.morrigan"
            icon="icons/pref.gif" >
      </view>
      
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            class="net.sparktank.morrigan.gui.views.ViewControls"
            icon="icons/play.gif"
            id="net.sparktank.morrigan.gui.views.ViewControls"
            category="net.sparktank.morrigan"
            name="Controls"
            restorable="true">
      </view>
      <view
            class="net.sparktank.morrigan.gui.views.ViewDisplay"
            icon="icons/display.gif"
            id="net.sparktank.morrigan.gui.views.ViewDisplay"
            category="net.sparktank.morrigan"
            name="Display"
            restorable="true">
      </view>
      <view
            class="net.sparktank.morrigan.gui.views.ViewQueue"
            icon="icons/queue.gif"
            id="net.sparktank.morrigan.gui.views.ViewQueue"
            category="net.sparktank.morrigan"
            name="Queue"
            restorable="true">
      </view>
      <view
            class="net.sparktank.morrigan.gui.views.ViewTagEditor"
            icon="icons/pref.gif"
            id="net.sparktank.morrigan.gui.views.ViewTagEditor"
            category="net.sparktank.morrigan"
            name="Tags"
            restorable="true">
      </view>
      <view
            class="net.sparktank.morrigan.gui.views.ViewPicture"
            icon="icons/pref.gif"
            id="net.sparktank.morrigan.gui.views.ViewPicture"
            category="net.sparktank.morrigan"
            name="Picture"
            restorable="true">
      </view>
      
   </extension>
   
   <extension point="org.eclipse.ui.editors">
   
      <editor
            class="net.sparktank.morrigan.gui.editors.tracks.PlaylistEditor"
            default="false"
            icon="icons/playlist.gif"
            id="net.sparktank.morrigan.gui.editors.PlaylistEditor"
            name="MediaListEditor" >
      </editor>
      
      <editor
            class="net.sparktank.morrigan.gui.editors.tracks.LocalLibraryEditor"
            default="false"
            icon="icons/library.gif"
            id="net.sparktank.morrigan.gui.editors.LocalLibraryEditor"
            name="LocalLibraryEditor" >
      </editor>
      
      <editor
            class="net.sparktank.morrigan.gui.editors.tracks.RemoteLibraryEditor"
            default="false"
            icon="icons/library-remote.gif"
            id="net.sparktank.morrigan.gui.editors.RemoteLibraryEditor"
            name="RemoteLibraryEditor">
      </editor>
      
      <editor
            class="net.sparktank.morrigan.gui.editors.mmdb.LocalMixedMediaDbEditor"
            default="false"
            icon="icons/library.gif"
            id="net.sparktank.morrigan.gui.editors.LocalMixedMediaDbEditor"
            name="LocalMixedMediaDbEditor" >
      </editor>
      
      <editor
            class="net.sparktank.morrigan.gui.editors.mmdb.RemoteMixedMediaDbEditor"
            default="false"
            icon="icons/library-remote.gif"
            id="net.sparktank.morrigan.gui.editors.RemoteMixedMediaDbEditor"
            name="RemoteMixedMediaDbEditor" >
      </editor>
      
   </extension>
   
   <extension point="org.eclipse.ui.commands">
   
      <command
            defaultHandler="net.sparktank.morrigan.gui.handler.CallMediaListEditor"
            id="net.sparktank.morrigan.gui.handler.CallMediaListEditor"
            name="CallMediaListEditor" />
            
      <command
            defaultHandler="net.sparktank.morrigan.gui.handler.CallPlayMedia"
            id="net.sparktank.morrigan.gui.handler.CallPlayMedia"
            name="CallPlayMedia" />
      <command
            defaultHandler="net.sparktank.morrigan.gui.handler.AddToQueue"
            id="net.sparktank.morrigan.gui.handler.AddToQueue"
            name="AddToQueue">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sparktank.morrigan.gui.preferences.GeneralPref"
            class="net.sparktank.morrigan.gui.preferences.MediaListPref"
            id="net.sparktank.morrigan.gui.preferences.MediaListPref"
            name="Media lists">
      </page>
      <page
            class="net.sparktank.morrigan.gui.preferences.GeneralPref"
            id="net.sparktank.morrigan.gui.preferences.GeneralPref"
            name="Morrigan">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="Keys">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.eclipse.ui.preferencePages.Appearance"
            name="Appearance">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:editorsPreferencePage"
            id="org.eclipse.ui.preferencePages.Editors"
            name="Editors">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:workbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="Workbench">
      </page>
      <page
            category="net.sparktank.morrigan.gui.preferences.GeneralPref"
            class="net.sparktank.morrigan.gui.preferences.HotkeyPref"
            id="net.sparktank.morrigan.gui.preferences.HotkeyPref"
            name="Hotkeys">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sparktank.morrigan.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sparktank.morrigan.gui.editors.EditorFactory"
            id="net.sparktank.morrigan.gui.editors.EditorFactory">
      </factory>
   </extension>

</plugin>
