[Unit]
Description=Morrigan
After=network.target
Before=snapserver.service

[Service]
Environment="HOME=/opt/morrigan/home"
Environment="PATH=/usr/bin:/bin"
Type=simple
DynamicUser=yes
User=morrigan-dynamic
SupplementaryGroups=audio
SupplementaryGroups=library
SupplementaryGroups=morrigan
ReadWritePaths=/opt/morrigan/home
ReadWritePaths=-/dev/snd
ReadWritePaths=-/proc/asound
ReadWritePaths=-/sys/class/sound
RuntimeDirectory=morrigan
ExecStartPre=mkfifo /run/morrigan/apipe
ExecStart=/usr/bin/java \
          -XX:+PerfDisableSharedMem \
          -XX:-UsePerfData \
          -jar /opt/morrigan/morrigan.jar \
          --configpath /opt/morrigan/home \
          --vlcarg "--aout=afile" \
          --vlcarg "--audiofile-file=/run/morrigan/apipe" \
          --dlna \
          --http 28080 \
          --ssh  28022
Restart=always
RestartSec=60
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
WantedBy=snapserver.service
