body, p, div, span {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.player, .mlist {
  left: 0;
  right: 0;
  margin: 0.5em 0.5em 0 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
}

.statusbar {
  margin: 0.2em;
}

.player .block, .mlist .block {
  vertical-align: middle;
  margin: 0.2em;
}

.player .pause, .player .next, .player span, .mlist span {
  margin: 0.2em;
}

.player .buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
}

.player .pause, .player .next {
  height: 3em;
  width: 40%;
}

.player .toprow {
  font-size: 85%;
}

.player, .mlist {
  position: relative;
}

.player .details, .mlist .details {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: -9999px;
  z-index: 1000;
}

.statusbar {
  text-align: right;
  font-size: 80%;
}

.statusbar span {
  margin: 0.5em;
}

.queue, .mediaitems {
  margin: 0 0.5em 0 0.5em;
}

.queue .header {
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.1em;
}

.queue .item p, .mediaitems .item p {
  margin: 0.4em;
  font-size: 80%;
}

.clearfooter {/* Empty space to make main area scroll above footer. */
  float: left;
  clear: both;
  height: 3em;
}
