/* Dark colours. */
body {
  background-color: #000;
  color: #fff;
}
.mdl-layout__drawer {
  background-color: #222;
  color: #fff;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #fff;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #000;
}
.mdl-menu__outline {
  background-color: #222;
}
.mdl-menu__item {
  color: #fff;
}
.mdl-menu__item:hover {
  background-color: #000;
}
.mdl-textfield__input {
  background-color: #000;
  border-bottom-color: #fff;
}
.mdl-textfield__label {
  color: #aaa;
}
.mdl-textfield__label:after {
  background-color: #B2FF59;
}
.mdl-button {
  color: #fff;
}
.mdl-slider__background-lower {
  background: #B2FF59;
}

/* Fix snackbar going off screen */
.mdl-snackbar {
  margin-right: 0;
}

/* Side menu item icon position fix. */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

/* Header */
header .subtitle {
  display: block;
  font-size: 80%;
}
header .subtitle span {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

/* Undo upcase. */
.mdl-button, .mdl-layout__tab {
  text-transform: none;
}

/* Fix infuriating tab panels sharing the same scroll. */
.mdl-layout__tab-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Remove padding around textfields. */
.mdl-textfield {
  padding: 0;
}
.mdl-textfield__label {
  top: 0;
  left: 0;
  padding-top: 0.2em;
}
.mdl-textfield__label:after {
   bottom: 0;
}

/* List items. */
.clickable_list a {
  display: block;
  line-height: 1.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: normal;
}
.clickable_list a:link, .clickable_list a:visited, .clickable_list a:active, .clickable_list a:hover {
  text-decoration: none;
  color: inherit;
}
.clickable_list a.disabled {
  text-decoration: line-through;
  color: #aaa;
}
.clickable_list .item:hover {
  background: Highlight;
  color: HighlightText;
}

#queue_tab_content p {
  margin: 0;
  padding: 0;
}

.clickable_list .album {
  float: left;
  width: 7em;
  height: 9em;
  border-radius: 0.2em;
  overflow: hidden;
  text-align: center;
}
.clickable_list .album .cover {
  max-width: 6em;
  max-height: 5em;
  margin: 0.5em 0.5em 0 0.5em;
}
.clickable_list .album .cover.nocover {
  width: 6em;
  height: 5em;
}
.clickable_list .album .title {
  margin: 0 0.2em 0.2em 0.2em;
  font-size: 80%;
  line-height: 1.3;
}
.clickable_list .album:hover {
  background: Highlight;
  color: HighlightText;
}

/* pop-up menu. */
.popup {
  position: fixed;
  z-index: 100;
  top: 10%;
  left: 50%;
  width: 16em;
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: -8em; /* width/2 */
  padding: 1em;
  text-align: center;

  background: #222;
}
.popup.fullwidth {
  left: 0;
  right: 0;
  width: initial;
  margin: 0;
}
.popup .title {
  margin: 0;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.popup .stats, .popup .tags {
  margin: 0;
  font-size: 80%;
  line-height: normal;
  margin-bottom: 0.5em;
}
.popup .separator {
  display: block;
  margin: 1em;
}
.popup .separator:after {
  content: '';
  height: 2px;
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  background-color: #B2FF59;
}
.popup > button, .popup > .row {
  display: inline-block;
  width: 90%;
  min-height: 3em;
  margin: 1em .5em;
}
.popup > .fullwidth {
  width: 100%;
  margin: 0;
}
.popup button {
  line-height: normal;
  height: inherit;
  min-height: 36px; /* From MD height. */
}
.popup .mdl-textfield {
  width: 90%;
  margin: 1em .5em;
}
.popup .mdl-slider__container {
  width: 100%;
}
.popup > .row {
  display: inline-flex;
  flex-direction: row;
}
.popup > .row > * {
  align-self: center;
}
.popup > .row > .pri {
  flex-grow: 2;
}
.popup > .row > .aux {
  flex-grow: 0;
}
.popup > .row > .left,
.popup > .row > .right {
  flex-grow: 1;
}
#popup-obfuscator {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
}
#popup-obfuscator.is-visible {
  background-color: rgba(0,0,0,.5);
  visibility: visible;
}

/* Autocomplete. */
.ui-autocomplete {
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 15em;
  max-height: 20em;
}
.ui-autocomplete .ui-menu-item {
  padding-top: 1em;
  padding-bottom: 1em;
}
