/* Side menu item icon position fix. */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

/* Remove padding after textfields. */
.mdl-textfield {
  padding-bottom: 0;
}
.mdl-textfield__label:after {
   bottom: 0;
}

/* List items. */
.clickable_list a {
  display: block;
}
.clickable_list a:link, .clickable_list a:visited, .clickable_list a:active, .clickable_list a:hover {
  text-decoration: none;
  color: inherit;
}
.clickable_list .item:hover {
  background: Highlight;
  color: HighlightText;
}
