<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension id="product" point="org.eclipse.core.runtime.products" >
		<product application="net.sparktank.morrigan.application" name="morrigan" >
			<property name="appName" value="morrigan" />
			<property name="windowImages" value="icons/copepod-16.png,icons/copepod-32.png" />
   <property
         name="aboutImage"
         value="graphics/copepod.png">
   </property>
   <property
         name="aboutText"
         value="This alpha build of morrigan is released as free software and is provided &quot;as is&quot; for testing pourpouses only.&#x0A;&#x0A;For more information, please refer to related blog entries at http://vaguehope.com or email haku@vaguehope.com&#x0A;&#x0A;This build of morrigan is (c) copyright Fae Hutter 2010.  All rights reserved.">
   </property>
		</product>
	</extension>
	
   <extension id="application" point="org.eclipse.core.runtime.applications" >
      <application>
         <run class="net.sparktank.morrigan.Application"></run>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="PerspectiveMain"
            class="net.sparktank.morrigan.PerspectiveMain"
            id="net.sparktank.morrigan.perspectiveMain">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   
      <view
            name="Media Explorer"
            class="net.sparktank.morrigan.views.ViewMediaExplorer"
            id="net.sparktank.morrigan.views.ViewMediaExplorer"
            icon="icons/library.gif" >
      </view>
      
      <view
            name="Player"
            class="net.sparktank.morrigan.views.ViewPlayer"
            id="net.sparktank.morrigan.views.ViewPlayer"
            icon="icons/stop.gif" >
      </view>
      
      <view
            name="Library Properties"
            class="net.sparktank.morrigan.views.ViewLibraryProperties"
            id="net.sparktank.morrigan.views.ViewLibraryProperties"
            icon="icons/pref.gif" >
      </view>
      
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      
   </extension>
   
   <extension point="org.eclipse.ui.editors">
   
      <editor
            class="net.sparktank.morrigan.editors.PlaylistEditor"
            default="false"
            icon="icons/playlist.gif"
            id="net.sparktank.morrigan.editors.PlaylistEditor"
            name="MediaListEditor" >
      </editor>
      
      <editor
            class="net.sparktank.morrigan.editors.LibraryEditor"
            default="false"
            icon="icons/library.gif"
            id="net.sparktank.morrigan.editors.LibraryEditor"
            name="LibraryEditor" >
      </editor>
      
   </extension>
   
   <extension point="org.eclipse.ui.commands">
   
      <command
            defaultHandler="net.sparktank.morrigan.handler.CallMediaListEditor"
            id="net.sparktank.morrigan.handler.CallMediaListEditor"
            name="CallMediaListEditor" />
            
      <command
            defaultHandler="net.sparktank.morrigan.handler.CallPlayMedia"
            id="net.sparktank.morrigan.handler.CallPlayMedia"
            name="CallPlayMedia" />
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sparktank.morrigan.preferences.MediaListPref"
            id="net.sparktank.morrigan.preferences.MediaListPref"
            name="Media lists">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sparktank.morrigan.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sparktank.morrigan.editors.EditorFactory"
            id="net.sparktank.morrigan.editors.EditorFactory">
      </factory>
   </extension>

</plugin>
